# Core Libraries
PyQt5>=5.15
opencv-python>=4.5
numpy>=1.20
pandas>=1.2
matplotlib>=3.3
psutil>=5.8.0
# Optional: For more advanced facial analysis or ML models
# scikit-learn
# tensorflow
# dlib
deepface>=0.0.79

# For behavior tracking (cross-platform)
pynput>=1.7